agents/integration/mail_engine_intake_v1.json
{
  "name": "mail_engine_intake_v1",
  "nodes": [
    {
      "id": "abf8598d-fb12-4e18-836d-acbb645c823c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "interval": 5
            }
          ],
          "times": []
        }
      }
    },
    {
      "id": "5dae9269-036e-4fc1-aaeb-80fb40c6079e",
      "name": "List Unprocessed Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages?q=in%3Ainbox%20-label%3Aai%2Fprocessed&maxResults=5",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "J5QWK5umLIKVWJkN",
          "name": "gmail_recepcia"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "b42aee40-29cc-45e7-810f-b660cf2451bf",
      "name": "Explode Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.0,
      "position": [
        740,
        300
      ],
      "parameters": {
        "jsCode": "const inputs = $input.all();\nconst rows = [];\nfor (const item of inputs) {\n  const m = item.json || {};\n  const messages = Array.isArray(m.messages) ? m.messages : [];\n  for (const msg of messages) {\n    rows.push({\n      json: {\n        message_id: msg.id,\n        thread_id: msg.threadId || null,\n      },\n    });\n  }\n}\nreturn rows;"
      }
    },
    {
      "id": "c1578d46-c47e-4257-aa52-3fa8a5aaa1b7",
      "name": "Get Message Detail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{\"https://gmail.googleapis.com/gmail/v1/users/me/messages/\" + $json.message_id + \"?format=full\"}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "J5QWK5umLIKVWJkN",
          "name": "gmail_recepcia"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "3b10173a-6719-41d2-87e4-eb42c2d0d786",
      "name": "Normalize Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.0,
      "position": [
        1260,
        300
      ],
      "parameters": {
        "jsCode": "const inputs = $input.all();\n\nfunction decodeBase64Url(input) {\n  if (!input) return '';\n  let s = input.replace(/-/g, '+').replace(/_/g, '/');\n  while (s.length % 4) s += '=';\n  return Buffer.from(s, 'base64').toString('utf8');\n}\nfunction getHeader(headers, name) {\n  const found = (headers || []).find((h) => (h.name || '').toLowerCase() === name.toLowerCase());\n  return found ? found.value : '';\n}\nfunction stripHtml(html) {\n  return (html || '')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\nfunction walk(part, acc) {\n  if (!part) return;\n  if (part.filename) acc.attachments.push(part.filename);\n  const mime = (part.mimeType || '').toLowerCase();\n  const data = part.body && part.body.data ? decodeBase64Url(part.body.data) : '';\n  if (data) {\n    if (mime === 'text/plain') acc.plain.push(data);\n    else if (mime === 'text/html') acc.html.push(data);\n  }\n  if (Array.isArray(part.parts)) {\n    for (const p of part.parts) walk(p, acc);\n  }\n}\n\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json || {};\n  const payload = j.payload || {};\n  const acc = { plain: [], html: [], attachments: [] };\n  walk(payload, acc);\n  const from = getHeader(payload.headers, 'From');\n  const subject = getHeader(payload.headers, 'Subject');\n  const dateHeader = getHeader(payload.headers, 'Date');\n  const replyTo = getHeader(payload.headers, 'Reply-To');\n  const msgId = getHeader(payload.headers, 'Message-Id');\n  const emailMatch = from.match(/<([^>]+)>/);\n  const fromEmail = (emailMatch ? emailMatch[1] : from).trim();\n  const fromName = emailMatch ? from.replace(/<[^>]+>/, '').replace(/\"/g, '').trim() : fromEmail;\n  const bodyText = (acc.plain.join('\\n\\n').trim() || stripHtml(acc.html.join('\\n\\n')) || (j.snippet || '')).slice(0, 16000);\n  out.push({\n    json: {\n      message_id: j.id,\n      thread_id: j.threadId || null,\n      gmail_label_ids: j.labelIds || [],\n      internal_date: j.internalDate ? new Date(Number(j.internalDate)).toISOString() : null,\n      received_at: dateHeader || (j.internalDate ? new Date(Number(j.internalDate)).toISOString() : null),\n      from: from,\n      from_name: fromName,\n      from_email: fromEmail,\n      reply_to: replyTo || fromEmail,\n      subject: subject || '',\n      body_text: bodyText,\n      snippet: (j.snippet || '').slice(0, 1000),\n      attachment_names: Array.from(new Set(acc.attachments)),\n      gmail_message_header_id: msgId,\n      raw_size_estimate: j.sizeEstimate || null,\n    }\n  });\n}\nreturn out;"
      }
    },
    {
      "id": "6d8b570f-e7c4-42e6-9c4f-17b23d6acf97",
      "name": "Build Classifier Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.0,
      "position": [
        1520,
        300
      ],
      "parameters": {
        "jsCode": "const inputs = $input.all();\nconst out = [];\nconst systemPrompt = `You are classifying founder inbox email for operations triage. Return ONLY valid JSON. Be conservative. If unsure, lower confidence and use category other or low_priority. Infer dates only when clearly supported by the email. If an email is a recurring billing or trial/renewal notice, use category subscription or payment. If it is a receipt, invoice, or bill, use category invoice or payment. create_draft should be true only if a human/business-relevant reply is likely useful. For newsletters or automated receipts without a reply need, create_draft must be false. Use ISO dates (YYYY-MM-DD) for renewal_date, trial_end_date, due_date when possible, else null. Return numeric confidence 0..1. Output schema: {category, priority, importance_score, sender_type, action_required, create_draft, followup_needed, summary_short, summary_long, vendor, product, amount, currency, billing_cycle, renewal_date, trial_end_date, due_date, invoice_number, payment_status, cancel_url, confidence, draft_reply}. Valid categories: subscription,payment,invoice,client,lead,partner,support,newsletter,spam,low_priority,other. Valid sender_type: human,system,vendor,unknown. priority: low|medium|high|urgent.`;\n\nfor (const item of inputs) {\n  const j = item.json || {};\n  const payload = {\n    sender_name: j.from_name,\n    sender_email: j.from_email,\n    subject: j.subject,\n    received_at: j.received_at,\n    snippet: j.snippet,\n    body_text: j.body_text,\n    attachment_names: j.attachment_names,\n  };\n  const body = {\n    model: 'openai/gpt-4o-mini',\n    response_format: { type: 'json_object' },\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: JSON.stringify(payload) },\n    ],\n  };\n  out.push({ json: { ...j, openrouter_body: JSON.stringify(body) } });\n}\nreturn out;"
      }
    },
    {
      "id": "1adcf923-39bd-4c3a-9e48-2079fee9bb18",
      "name": "Classify Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json.openrouter_body}}",
        "options": {}
      },
      "credentials": {
        "openRouterApi": {
          "id": "UTn5AIZ2ODKE9nFv",
          "name": "OpenRouter account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "6d452842-f499-4eee-9c8f-3361c9f1447e",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.0,
      "position": [
        2040,
        300
      ],
      "parameters": {
        "jsCode": "const LABELS = {\n  'ai/processed': 'Label_17',\n  'ai/review': 'Label_18',\n  'ai/subscription': 'Label_19',\n  'ai/payment': 'Label_20',\n  'ai/invoice': 'Label_21',\n  'ai/important': 'Label_22',\n  'ai/low-priority': 'Label_23',\n  'ai/client': 'Label_24',\n  'ai/lead': 'Label_25',\n  'ai/partner': 'Label_26',\n  'ai/newsletter': 'Label_27',\n};\n\nfunction parseJsonMaybe(str) {\n  try { return JSON.parse(str); } catch (e) {}\n  const m = String(str || '').match(/\\{[\\s\\S]*\\}/);\n  if (m) {\n    try { return JSON.parse(m[0]); } catch (e) {}\n  }\n  return null;\n}\n\nconst out = [];\nfor (const item of $input.all()) {\n  const original = item.json || {};\n  let content = original?.choices?.[0]?.message?.content || '';\n  const ai = parseJsonMaybe(content) || {};\n  const category = String(ai.category || 'other').toLowerCase();\n  const senderType = String(ai.sender_type || 'unknown').toLowerCase();\n  let confidence = Number(ai.confidence);\n  if (!Number.isFinite(confidence)) confidence = 0.5;\n  const importanceScore = Math.max(0, Math.min(100, Number(ai.importance_score ?? 0)));\n  const p = String(ai.priority || '').toLowerCase();\n  const priority = ['low', 'medium', 'high', 'urgent'].includes(p) ? p : 'medium';\n  const actionRequired = Boolean(ai.action_required);\n  const createDraft = Boolean(ai.create_draft);\n  const followupNeeded = Boolean(ai.followup_needed || createDraft || actionRequired);\n  const summaryShort = String(ai.summary_short || original.snippet || original.subject || '').slice(0, 300);\n  const summaryLong = String(ai.summary_long || original.body_text || '').slice(0, 4000);\n\n  const labelNames = ['ai/processed'];\n  if (category === 'subscription') labelNames.push('ai/subscription');\n  if (category === 'payment') labelNames.push('ai/payment');\n  if (category === 'invoice') labelNames.push('ai/invoice');\n  if (category === 'newsletter') labelNames.push('ai/newsletter');\n  if (['spam', 'low_priority'].includes(category)) labelNames.push('ai/low-priority');\n  if (category === 'client') labelNames.push('ai/client');\n  if (category === 'lead') labelNames.push('ai/lead');\n  if (category === 'partner') labelNames.push('ai/partner');\n  if (confidence < 0.72) labelNames.push('ai/review');\n  if (importanceScore >= 80 || actionRequired || ['client', 'lead', 'partner', 'support'].includes(category)) {\n    labelNames.push('ai/important');\n  }\n\n  const addLabelIds = Array.from(new Set(labelNames.map((n) => LABELS[n]).filter(Boolean)));\n\n  out.push({\n    json: {\n      ...original,\n      category,\n      sender_type: senderType,\n      confidence,\n      importance_score: importanceScore,\n      priority,\n      action_required: actionRequired,\n      create_draft: createDraft,\n      followup_needed: followupNeeded,\n      summary_short: summaryShort,\n      summary_long: summaryLong,\n      vendor: ai.vendor || '',\n      product: ai.product || '',\n      amount: ai.amount ?? '',\n      currency: ai.currency || '',\n      billing_cycle: ai.billing_cycle || '',\n      renewal_date: ai.renewal_date || '',\n      trial_end_date: ai.trial_end_date || '',\n      due_date: ai.due_date || '',\n      invoice_number: ai.invoice_number || '',\n      payment_status: ai.payment_status || '',\n      cancel_url: ai.cancel_url || '',\n      draft_reply: ai.draft_reply || '',\n      addLabelIds,\n      addLabelNames: Array.from(new Set(labelNames)),\n    },\n  });\n}\nreturn out;"
      }
    },
    {
      "id": "17ce057b-ec9e-455f-8c64-e5a5d71e594b",
      "name": "Build Mail Log Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.0,
      "position": [
        2300,
        120
      ],
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const j = item.json || {};\n  const row = [\n    new Date().toISOString(),\n    j.message_id || '',\n    j.thread_id || '',\n    j.received_at || '',\n    j.from_name || '',\n    j.from_email || '',\n    j.subject || '',\n    j.category || '',\n    j.priority || '',\n    String(Boolean(j.action_required)),\n    j.summary_short || '',\n    j.summary_long || '',\n    j.vendor || '',\n    j.product || '',\n    String(j.amount ?? ''),\n    j.currency || '',\n    j.billing_cycle || '',\n    j.renewal_date || '',\n    j.due_date || '',\n    j.invoice_number || '',\n    j.payment_status || '',\n    j.cancel_url || '',\n    Array.isArray(j.attachment_names) ? j.attachment_names.join(', ') : '',\n    Array.isArray(j.addLabelNames) ? j.addLabelNames.join(', ') : '',\n    String(j.confidence ?? ''),\n    'logged',\n  ];\n  out.push({ json: { append_url: 'https://sheets.googleapis.com/v4/spreadsheets/1MXnIzaqkGsK2KqPxrHzHhGVLKOl8FbpxgZHQ2-tHHCQ/values/mail_log!A:Z:append?valueInputOption=RAW&insertDataOption=INSERT_ROWS', append_body: JSON.stringify({ majorDimension: 'ROWS', values: [row] }) } });\n}\nreturn out;"
      }
    },
    {
      "id": "4ae33b81-d671-4123-8524-d7524007f9e8",
      "name": "Append Mail Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        120
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$json.append_url}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json.append_body}}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MfdXo9jKQX6vrIzQ",
          "name": "Google Sheets account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "fc1a41de-6f14-43bb-921d-a0380a5d578a",
      "name": "Build Label Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.0,
      "position": [
        2300,
        300
      ],
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const j = item.json || {};\n  out.push({\n    json: {\n      message_id: j.message_id,\n      label_url: `https://gmail.googleapis.com/gmail/v1/users/me/messages/${j.message_id}/modify`,\n      label_body: JSON.stringify({ addLabelIds: j.addLabelIds || [] }),\n    },\n  });\n}\nreturn out;"
      }
    },
    {
      "id": "d72b3163-195a-408f-bbf4-dbd6c9bb5262",
      "name": "Apply Labels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$json.label_url}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json.label_body}}",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "J5QWK5umLIKVWJkN",
          "name": "gmail_recepcia"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "ae7d3b64-7f8f-4bd3-8f60-68507ec28ff0",
      "name": "Build Subscription Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.0,
      "position": [
        2300,
        500
      ],
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const j = item.json || {};\n  if (!['subscription', 'payment'].includes(j.category)) continue;\n  const row = [\n    new Date().toISOString(),\n    j.message_id || '',\n    j.thread_id || '',\n    j.vendor || '',\n    j.product || '',\n    String(j.amount ?? ''),\n    j.currency || '',\n    j.billing_cycle || '',\n    j.renewal_date || '',\n    j.trial_end_date || '',\n    j.cancel_url || '',\n    j.summary_short || '',\n    '',\n    '',\n    'logged',\n  ];\n  out.push({ json: {\n    append_url: 'https://sheets.googleapis.com/v4/spreadsheets/1MXnIzaqkGsK2KqPxrHzHhGVLKOl8FbpxgZHQ2-tHHCQ/values/subscriptions!A:O:append?valueInputOption=RAW&insertDataOption=INSERT_ROWS',\n    append_body: JSON.stringify({ majorDimension: 'ROWS', values: [row] }),\n    vendor: j.vendor || '',\n    product: j.product || '',\n    amount: String(j.amount ?? ''),\n    currency: j.currency || '',\n    renewal_date: j.renewal_date || '',\n    trial_end_date: j.trial_end_date || '',\n    cancel_url: j.cancel_url || '',\n    summary_short: j.summary_short || '',\n    message_id: j.message_id || '',\n    subject: j.subject || '',\n  } });\n}\nreturn out;"
      }
    },
    {
      "id": "21171903-4a73-4199-8f4c-e0fd1a34b052",
      "name": "Append Subscription Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$json.append_url}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json.append_body}}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MfdXo9jKQX6vrIzQ",
          "name": "Google Sheets account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "893d9e43-5d6a-43ee-a207-378b896f5498",
      "name": "Build Calendar Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.0,
      "position": [
        2820,
        500
      ],
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const s = item.json || {};\n  const targetDate = s.renewal_date || s.trial_end_date;\n  if (!targetDate) continue;\n  const title = `Subscription renewal: ${s.vendor || 'Unknown'}${s.product ? ' - ' + s.product : ''}`;\n  const description = [\n    `Amount: ${s.amount || ''} ${s.currency || ''}`.trim(),\n    s.cancel_url ? `Cancel: ${s.cancel_url}` : '',\n    s.summary_short || '',\n    s.message_id ? `Message ID: ${s.message_id}` : '',\n  ].filter(Boolean).join('\n');\n  const body = {\n    summary: title,\n    description,\n    start: { date: targetDate },\n    end: { date: targetDate },\n    reminders: {\n      useDefault: false,\n      overrides: [\n        { method: 'popup', minutes: 10080 },\n        { method: 'popup', minutes: 2880 },\n      ],\n    },\n  };\n  out.push({ json: { calendar_url: 'https://www.googleapis.com/calendar/v3/calendars/primary/events', calendar_body: JSON.stringify(body) } });\n}\nreturn out;"
      }
    },
    {
      "id": "b8d0630b-802f-4d13-be80-2c6a4da964b3",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3080,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$json.calendar_url}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json.calendar_body}}",
        "options": {}
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "q1fPnNwJfnrkYnMB",
          "name": "calendar_recepcia"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "805ec15f-73d4-4124-9d37-e51e6c6873e7",
      "name": "Build Invoice Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.0,
      "position": [
        2300,
        700
      ],
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const j = item.json || {};\n  if (j.category !== 'invoice') continue;\n  const row = [\n    new Date().toISOString(),\n    j.message_id || '',\n    j.thread_id || '',\n    j.vendor || '',\n    j.product || '',\n    j.invoice_number || '',\n    String(j.amount ?? ''),\n    j.currency || '',\n    j.due_date || '',\n    j.payment_status || '',\n    j.subject || '',\n    j.summary_long || '',\n    '',\n    'logged',\n  ];\n  out.push({ json: {\n    append_url: 'https://sheets.googleapis.com/v4/spreadsheets/1MXnIzaqkGsK2KqPxrHzHhGVLKOl8FbpxgZHQ2-tHHCQ/values/invoices!A:N:append?valueInputOption=RAW&insertDataOption=INSERT_ROWS',\n    append_body: JSON.stringify({ majorDimension: 'ROWS', values: [row] }),\n  } });\n}\nreturn out;"
      }
    },
    {
      "id": "12267b46-3441-4bce-a515-c563cc835aa3",
      "name": "Append Invoice Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        700
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$json.append_url}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json.append_body}}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MfdXo9jKQX6vrIzQ",
          "name": "Google Sheets account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "c361b87f-febd-454a-8b74-d82877064598",
      "name": "Build Important Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.0,
      "position": [
        2300,
        900
      ],
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const j = item.json || {};\n  const conf = Number(j.confidence ?? 0);\n  if (!(j.create_draft && j.draft_reply && conf >= 0.75)) continue;\n  function base64url(str) {\n    return Buffer.from(str, 'utf8').toString('base64').replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/,'');\n  }\n  const replySubject = (j.subject || '').toLowerCase().startsWith('re:') ? (j.subject || '') : `Re: ${j.subject || ''}`;\n  const mime = [\n    `To: ${j.reply_to || j.from_email || ''}`,\n    `Subject: ${replySubject}`,\n    'Content-Type: text/plain; charset=UTF-8',\n    '',\n    j.draft_reply || '',\n  ].join('\r\n');\n  const body = { message: { raw: base64url(mime) } };\n  if (j.thread_id) body.message.threadId = j.thread_id;\n  out.push({ json: { draft_url: 'https://gmail.googleapis.com/gmail/v1/users/me/drafts', draft_body: JSON.stringify(body) } });\n}\nreturn out;"
      }
    },
    {
      "id": "d47bdd3b-ee5e-4424-add2-ccf0b601a515",
      "name": "Create Gmail Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        900
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$json.draft_url}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json.draft_body}}",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "J5QWK5umLIKVWJkN",
          "name": "gmail_recepcia"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "5456d6ba-c3dc-4be2-893b-7d8d46d5ddf6",
      "name": "Build Important Thread Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2.0,
      "position": [
        2300,
        1080
      ],
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const j = item.json || {};\n  const important = j.create_draft || j.action_required || j.importance_score >= 80 || ['client', 'lead', 'partner', 'support'].includes(j.category);\n  if (!important) continue;\n  const row = [\n    new Date().toISOString(),\n    j.message_id || '',\n    j.thread_id || '',\n    j.from_email || '',\n    j.subject || '',\n    j.category || '',\n    j.summary_short || '',\n    String(Boolean(j.action_required)),\n    String(Boolean(j.followup_needed)),\n    Array.isArray(j.addLabelNames) ? j.addLabelNames.join(', ') : '',\n    'logged',\n  ];\n  out.push({ json: { append_url: 'https://sheets.googleapis.com/v4/spreadsheets/1MXnIzaqkGsK2KqPxrHzHhGVLKOl8FbpxgZHQ2-tHHCQ/values/important_threads!A:K:append?valueInputOption=RAW&insertDataOption=INSERT_ROWS', append_body: JSON.stringify({ majorDimension: 'ROWS', values: [row] }) } });\n}\nreturn out;"
      }
    },
    {
      "id": "ef75e416-2037-463b-a4e3-33bbe53ccef8",
      "name": "Append Important Thread Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        1080
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$json.append_url}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json.append_body}}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MfdXo9jKQX6vrIzQ",
          "name": "Google Sheets account 2"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List Unprocessed Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Unprocessed Messages": {
      "main": [
        [
          {
            "node": "Explode Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Messages": {
      "main": [
        [
          {
            "node": "Get Message Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Message Detail": {
      "main": [
        [
          {
            "node": "Normalize Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Message": {
      "main": [
        [
          {
            "node": "Build Classifier Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Classifier Request": {
      "main": [
        [
          {
            "node": "Classify Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Message": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Build Mail Log Row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Label Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Subscription Row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Invoice Row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Important Draft",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Important Thread Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Mail Log Row": {
      "main": [
        [
          {
            "node": "Append Mail Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Label Request": {
      "main": [
        [
          {
            "node": "Apply Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Subscription Row": {
      "main": [
        [
          {
            "node": "Append Subscription Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Subscription Row": {
      "main": [
        [
          {
            "node": "Build Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Calendar Event": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Invoice Row": {
      "main": [
        [
          {
            "node": "Append Invoice Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Important Draft": {
      "main": [
        [
          {
            "node": "Create Gmail Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Important Thread Row": {
      "main": [
        [
          {
            "node": "Append Important Thread Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Bratislava"
  }
}